@page
@namespace LocalizationTest.Pages
@model PathBPageModel
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Page</title>
</head>
<body>
	<h1>Page B Content</h1>
</body>
</html>
