@page
@namespace LocalizationTest.Pages
@model MyPageModel
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Page</title>
</head>
<body>
	<h1>Page Content from en</h1>
	<h2>@Model.Title</h2>
</body>
</html>
