@page
@model LocalizationTest.Pages.RedirectModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirect</title>
</head>
<body>
</body>
</html>
